.contact-page {
    margin-top: 5rem;
    color: azure;
    word-spacing: 2px;
    letter-spacing: 1px;
}

.contact-page .contact-page-text-wrapper {
    padding: 4rem;
}

.contact-page p:first-child {
    margin-bottom: 3rem;
    font-size: 26px;
    line-height: 30px;
}

.contact-page p:last-of-type {
    font-size: 18px;
    line-height: 24px;
}

.contact-page .highlight-text-orange {
    color: orange;
}

.google-form-wrapper {
    margin-top: 2rem;
    background: #54bb99;
    background: Linear-gradient(60deg, #1b1d1c 23%, #00fbc5dc 43%, #54bb99 55%, #84ffb5de 70%, #1b1d1c 87%);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.google-form-wrapper iframe {
    width: 600px;
    height: 1577px;
    min-height: 400px;
    max-height: 1577px;
}

@media (max-width: 767px) {
    .contact-page {
        margin-top: 2rem;
    }

    .contact-page .contact-page-text-wrapper {
        padding: 2rem;
    }

    .google-form-wrapper iframe {
        width: 550px;
    }
}

@media (max-width: 575px) {
    .google-form-wrapper iframe {
        width: 500px;
    }
}

@media (max-width: 479px) {
    .google-form-wrapper iframe {
        width: 350px;
    }
}