#story{
  text-align: start;
  padding: 2em 4em;
  color: azure;
  background-color: #130e08;
  box-shadow: 1px -6px 80px 0 rgba(60, 89, 90, 0.308),
    0 6px 20px 0 rgba(7, 0, 0, 0.534);
      font-family: "Exo 2", sans-serif;
  word-spacing: 3px;
}

#story:hover{
  color: rgb(198, 235, 224);
  background-color: #130e08;
  box-shadow: 1px -6px 80px 0 rgba(60, 89, 90, 0.308),
    0 6px 20px 0 rgba(7, 0, 0, 0.534);
}

#story h2 {
  margin-top: 2.5em; 
  margin-bottom: .7em;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 7px;
  text-shadow: -6px -1px 15px rgb(255, 255, 255);
  font-family: "Amatic SC", cursive;
  /* color: #00b4d8; */
  /* color: #219ebc; */
  /* color: #fb8500; */
  background: #00fbc5;
  background: -webkit-radial-gradient(
    circle farthest-side at top left,
    #54bb99 0%,
    #00fbc5 100%
  );
  background: -moz-radial-gradient(
    circle farthest-side at top left,
    #54bb99 0%,
    #00fbc5 100%
  );
  background: radial-gradient(
    circle farthest-side at top left,
    #54bb99 0%,
    #00fbc5 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#story .story-container {
  font-size: 18px;
  transition: background-color 0.5s linear, border-color 1s linear,
    border-radius 0.5s ease-in;
  -webkit-transition: background-color 0.5s linear, border-color 1s linear,
    border-radius 0.5s linear;
  -moz-transition: background-color 0.5s linear, border-color 1s linear,
    border-radius 0.5s linear;
  -ms-transition: background-color 0.5s linear, border-color 1s linear,
    border-radius 0.5s linear;
  -o-transition: background-color 0.5s linear, border-color 1s linear,
    border-radius 0.5s linear;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

#story .story-container h3 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 3em;
  margin-bottom: 1em;
  color: #54bb99;
  letter-spacing: 1px;
}

.story-container:hover {
  /* background-color: #2a2b21; */
  /* border-color: #e9edc9;
  border-color: #fb8500; */
  /* border-color: #ff5e00cc; */
  /* box-shadow: 0 -16px 8px 0 rgba(60, 89, 90, 0.308), */
    /* 0 6px 20px 0 rgba(10, 0, 0, 0.45); */
  border-radius: 10px 100px / 120px;
  -webkit-border-radius: 10px 100px / 120px;
  -moz-border-radius: 10px 100px / 120px;
  -ms-border-radius: 10px 100px / 120px;
  -o-border-radius: 10px 100px / 120px;
}