.footer-section {
  box-sizing: border-box;
  /* width: 80vw; */
  margin: auto;
  margin-top: 5rem;
  border-top: 5px inset #131310a9;
  font-family: "Special Elite", cursive;
  background: #54bb99;
  background: -moz-linear-gradient(-183deg,
      #503950cc 1%,
      #54bb99 7%,
      #00fbc5 69%,
      #1b101b1a 98%);
  background: -webkit-linear-gradient(273deg,
      #503950cc 1%,
      #54bb99 7%,
      #00fbc5 69%,
      #1b101b1a 98%);
  background: linear-gradient(-183deg,
      #503950cc 1%,
      #54bb99 7%,
      #00fbc5 69%,
      #1b101b1a 98%);
  box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.footer-section .footer-container {
  box-sizing: border-box;
  padding: 2em;
  font-size: 1.5em;
}

.footer-section .footer-info {
  font-size: 1rem;
}

.footer-section i {
  color: black;
}

.footer-section .social-media-box:hover i {
  color: #ff6d19;
}

.footer-section .downloadResume {
  background-color: #82d1bc;
  background-color: #a0e0cf;
  border: 1px solid #1f0404;
  padding: 3px 48px 3px 20px;
  letter-spacing: 1px;
  font-size: 18px;
  border-radius: 15px;
}

.footer-section .downloadResume-box:hover .downloadResume {
  background-color: #ff6d19;
  color: black;
}

.footer-section .fa-download {
  margin-left: -2.6rem;
  margin-top: -1rem;
  /* color: #fad7af; */
  font-size: 26px;
}

.footer-section .profileLink {
  text-decoration: none;
  color: black;
}

.footer-section .text-p-of-portfolio {
  font-family: "Playwrite CA", cursive;
  font-weight: 300;
}

.footer-section .copyRightInfo:hover .profileLink {
  color: #012972;
}


/* @media (max-width: 1200px) {
  .footer-section {
    border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -ms-border-radius: 10px 10px 0 0;
    -o-border-radius: 10px 10px 0 0;
  }

  .footer-container {
    font-size: 1em;
  }
} */

@media (max-width: 767px) {
  .footer-section {
    margin: 8rem 2rem 2rem;
    font-size: 14px;
    padding-bottom: .5rem;
    background: -moz-linear-gradient(-183deg,
        #503950cc 1%,
        #54bb99 26%,
        #00fbc5 69%,
        #1b101b1a 95%);
    background: -webkit-linear-gradient(273deg,
        #503950cc 1%,
        #54bb99 26%,
        #00fbc5 69%,
        #1b101b1a 95%);
    background: linear-gradient(-183deg,
        #503950cc 1%,
        #54bb99 26%,
        #00fbc5 69%,
        #1b101b1a 95%);
    box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030;
  }

  .footer-section .contact-box {
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
  }

  .footer-section .downloadResume-box {
    margin-bottom: .2rem;
    margin-left: -10px;
  }
}

@media (max-width: 480px) {
  .footer-section {
    margin-left: 1px;
    margin-right: 1px;
    font-size: 13px;
  }
}