  .logo-container {
    font-family: "Amatic SC", cursive;
    position: fixed;
    right: calc(20px + 3%);
    bottom: calc(10px + 2%);
    box-shadow: -6px -10px 15px #dac66dad;
    border-radius: 50%;
    z-index: 10;
    width: 7.3rem;
    height: 7.2rem;
    padding: 0;
  }

  .logo a {
    font-size: 5rem;
    color: #00fbc5de;
    text-shadow: -4px -1px 12px #f5a031;
    box-shadow: 6px 5px 8px #e49e1dad;
    background: #0000009c;
    text-decoration: none;
    border: 2px solid #fb6400;
    padding: 0 1.3rem 1rem;
    transition: border-color 0.5s ease-in-out;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transition: border-color 0.5s ease-in-out;
    -moz-transition: border-color 0.5s ease-in-out;
    -ms-transition: border-color 0.5s ease-in-out;
    -o-transition: border-color 0.5s ease-in-out;
  }

  .logo-container:hover .logo a {
    border-color: #fbc000;
  }

  .navBar {
    width: 68vw;
    z-index: 2;
    margin: 5rem 1rem auto;
    height: 0;
    top: 0;
    position: fixed;
    background-color: #ff3c00;
    background: linear-gradient(300deg, #130213cc 22%, #ff3c00 7%, #ff6d19af 89%, #1b101b1a 98%);
    background: -moz-linear-gradient(300deg, #130213cc 22%, #ff3c00 7%, #ff6d19af 89%, #1b101b1a 98%);
    background: -webkit-linear-gradient(300deg, #130213cc 22%, #ff3c00 23%, #ff6d19af 77%, #1b101b33 78%);
    box-shadow: 0 6px 8px 0 #d861439c, 0 6px 20px 0 #a3252573;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
  }

  .navBar .navbar-nav {
    background: #070706ea;
    border-bottom: 1px solid #ff6d194d;
    width: 450px;
    padding-bottom: 1.35rem;
    border-radius: 25%;
    -webkit-border-radius: 25%;
    -moz-border-radius: 25%;
    -ms-border-radius: 25%;
    -o-border-radius: 25%;
  }

  .navBar .nav_link {
    font-family: "Exo 2", sans-serif;
    color: #1f0404;
    font-size: 1em;
    cursor: pointer;
    padding-left: 1.72rem !important;
    padding-right: 1.72rem !important;
    margin-top: 3.5em;
    margin-right: 1em;
    box-shadow: 0 4px 8px 0 #474d4e33, 0 6px 20px 0 #00000030;
    background-color: #54bb99;
    background: linear-gradient(300deg,
        #503950cc 1%,
        #54bb99 7%,
        #00fbc5 89%,
        #1b101b1a 98%);
    background: -moz-linear-gradient(300deg,
        #503950cc 1%,
        #54bb99 7%,
        #00fbc5 89%,
        #1b101b1a 98%);
    background: -webkit-linear-gradient(300deg,
        #503950cc 1%,
        #54bb99 7%,
        #00fbc5 89%,
        #1b101b1a 98%);
    border-left: 10px solid #130a07;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }

  .navBar .navbar-nav .nav-link.active {
    border-left: 10px solid #ff480018;
    border-bottom: 5px solid #ff4800;
  }

  .navBar .nav_link:hover,
  .navBar .nav_link:active {
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    transform: scale(1.05) !important;
    -webkit-transform: scale(1.05) !important;
    -moz-transform: scale(1.05) !important;
    -ms-transform: scale(1.05) !important;
    -o-transform: scale(1.05) !important;
  }


  /* nav-link animation on hover STARTS HERE*/
  .navBar .nav-link {
    transition: all 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
  }

  .navBar .nav-link::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    background: linear-gradient(120deg, transparent, #ffffff66, transparent);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
  }

  .navBar .nav-link:hover::before {
    left: 100%;
  }

  .navBar .nav-link:hover {
    color: #2b2816 !important;
  }

  /* nav-link animation on hover ENDS HERE*/

  /* logo animation STARTS HERE */

  @media (prefers-reduced-motion: no-preference) {
    .logo-container {
      animation: App-logo-spin infinite 18s linear;
      -webkit-animation: App-logo-spin infinite 18s linear;
    }
  }

  @keyframes App-logo-spin {
    from {
      transform: rotateY(0deg);
      -webkit-transform: rotateY(0deg);
      -moz-transform: rotateY(0deg);
      -ms-transform: rotateY(0deg);
      -o-transform: rotateY(0deg);
    }

    to {
      transform: rotateY(360deg);
      -webkit-transform: rotateY(360deg);
      -moz-transform: rotateY(360deg);
      -ms-transform: rotateY(360deg);
      -o-transform: rotateY(360deg);
    }
  }

  /* logo animation ENDS HERE */

  @media (max-width: 1366px) {
    /* .logo-container {
      right: calc(1px + 1%);
      bottom: calc(10px + 2%);
    } */
  }

  @media (max-width: 992px) {
    @media (prefers-reduced-motion: no-preference) {
      .logo-container {
        animation: App-logo-spin infinite 10s linear;
        -webkit-animation: App-logo-spin infinite 10s linear;
      }
    }
  }

  @media (max-width: 767px) {

    @media (prefers-reduced-motion: no-preference) {
      .logo-container {
        animation: App-logo-spin infinite 8s linear;
        -webkit-animation: App-logo-spin infinite 8s linear;
      }
    }

    .logo-container {
      box-shadow: none;
      top: .6rem;
      right: .1rem;
      width: 4.4rem;
      height: 4rem;
    }

    .logo a {
      box-shadow: -1px -2px 5px #e49e1dad;
      font-size: 2.5rem;
      padding: 0 .7rem .7rem .8rem;
    }

    .navBar {
      width: 0%;
      margin: 0 .8rem auto;
    }

    .navbar-toggler {
      border-bottom: 3px solid #00fbc5de;
      background-color: #ff6d19;
      padding: 4px 6px;
      border-radius: 25%;
      -webkit-border-radius: 25%;
      -moz-border-radius: 25%;
      -ms-border-radius: 25%;
      -o-border-radius: 25%;
    }

    .navBar .navbar-nav {
      z-index: 1;
      border-bottom: none;
      border-radius: 4px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      -o-border-radius: 4px;
    }

    .navbar-collapse {
      margin-top: 1.5rem;
      padding-top: 5px;
      border-top: 3px solid #f0ffff1f;
    }

    .navBar .nav_link {
      font-size: .9em;
      margin-top: 4px;
      padding: 8px 0;
      width: 130px;
      background-color: #f5a031;
      background: linear-gradient(300deg,
          #503950cc 1%,
          #f5a031 7%,
          #ff6d19 89%,
          #1b101b1a 98%);
      background: -moz-linear-gradient(300deg,
          #503950cc 1%,
          #f5a031 7%,
          #ff6d19 89%,
          #1b101b1a 98%);
      background: -webkit-linear-gradient(300deg,
          #503950cc 1%,
          #f5a031 7%,
          #ff6d19 89%,
          #1b101b1a 98%);
    }

    .navBar .navbar-nav .nav-link.active {
      /* border-bottom: 5px solid #ff6d19e6; */
      border-bottom: 5px solid #00fbc5de;
    }
  }